.garbage_box_wS {
  width: 1rem;
}
.garbage_box_wM {
  width: 2rem;
}
.garbage_box_wL {
  width: 3rem;
}
.garbage_box_hS {
  height: 2rem;
}
.garbage_box_hM {
  height: 7.5rem;
}
.garbage_box_hL {
  height: 15rem;
}
.between_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  margin: 5rem 0;
  .between_title {
    font-size: 2rem;
    line-height: 1.6;
    span:not(.point_bg) {
      position: relative;
    }
  }
}
div.between_line {
  width: 100px;
  height: 1px;
  background-color: #fff;
  margin: 3rem 0;
}
.font_stroke_opacity {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  opacity: 0.5;
  font-family: "Poppins", sans-serif;
}
.font_stroke_opacityN {
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  opacity: 1;
  font-family: "Poppins", sans-serif;
}
.text_point {
  color: #fff;
}
.fix_active {
  position: fixed;
  left: 0px;
  bottom: 5px;
}
.bottom_bar {
  cursor: pointer;
  position: relative;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #505050;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    margin-bottom: -2px;
    background-color: #ffffff;
    transition: width 0.4s linear;
  }
  &:hover::before {
    width: 100%;
  }
}
div.skills_icon {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1.25);
  }
}
#html {
  background-image: url("../img/html5.png");
}
#pug {
  background-image: url("../img/pug.png");
}
#css {
  background-image: url("../img/css3.png");
}
#sass {
  background-image: url("../img/sass.png");
}
#js {
  background-image: url("../img/js.png");
}
#es6 {
  background-image: url("../img/es6.png");
}
#gulp {
  background-image: url("../img/gulpThumbnail.webp");
}
#webpack {
  background-image: url("../img/webpack.svg");
  background-color: #ffffff;
}
#react {
  background-image: url("../img/react.png");
}
#nodejs {
  background-image: url("../img/nodeJS.png");
}
#mongo {
  background-image: url("../img/mongo.png");
}
#heroku {
  background-image: url("../img/heroku.png");
  background-color: #634987;
}
.point_bg {
  position: absolute;
  top: 15px;
  z-index: -1;
  display: block;
  width: 0%;
  height: 1rem;
  background-color: $pf-point-color;
  transition: width 0.5s linear;
}
.point_bg_one {
  animation-delay: 1.5s;
}
.point_bg_two {
  animation-delay: 2.5s;
}
.point_bg_three {
  animation-delay: 3.5s;
}
.point_bg_four {
  animation-delay: 4.5;
}
.point_bg_animation {
  animation-name: barAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes barAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  div.skills_icon {
    width: 5rem;
    height: 5rem;
  }
  .between_box {
    .between_title {
      font-size: 1.5rem;
    }
  }
  .point_bg {
    position: absolute;
    top: 10px;
    z-index: -1;
    display: block;
    width: 0%;
    height: 1rem;
    background-color: $pf-point-color;
    transition: width 0.5s linear;
  }
  .garbage_box_hM {
    height: 3.75rem;
  }
  .garbage_box_hL {
    height: 7.5rem;
  }
}
