section.mainVisual {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
  video#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    filter: brightness(0.25);
    z-index: -1;
  }
  div#title-box {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    div#mainTitle-wrap {
      h1#mainTitle {
        font-size: $pf-font-size-XXL;
        font-weight: 900;
        transition: color 0.2s linear, transform 0.2s linear;
        &:hover {
          color: #fff;
          transform: scale(0.95);
          span {
            color: transparent;
          }
        }
      }
    }
    div#box-line {
      width: 300px;
      height: 1px;
      background-color: #fff;
      margin: 2rem 0;
    }
    div#subTitle-wrap {
      span.subTitle {
        color: rgba(255, 255, 255, 0.4);
        font-size: 2rem;
        font-weight: 900;
        letter-spacing: 1px;
        line-height: 1.6;
        display: block;
        span {
          padding-bottom: 2.5px;
          border-bottom: 2px solid rgba(255, 255, 255, 0.4);
          transition: color 0.5s linear, border 0.5s linear;
        }
      }
      &:hover {
        span.subTitle {
          span {
            color: #fff;
            border-bottom: 2px solid #fff;
          }
        }
      }
    }
  }
  div#icon-scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 70px;
    border-radius: 20px;
    background-color: transparent;
    border: solid 3px #fff;
    transition: opacity 1s linear;
    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 14px;
      display: block;
      width: 6px;
      height: 12px;
      border-radius: 20px;
      background-color: #fff;
      animation-name: scrollAnimation;
      animation-duration: 1.25s;
      animation-timing-function: ease-out;
      animation-iteration-count: infinite;
    }
  }
}
@keyframes textAutoSlide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scrollAnimation {
  0% {
    top: 8px;
    opacity: 1;
  }
  100% {
    top: 45px;
    opacity: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1100px) {
  section.mainVisual {
    div#title-box {
      div#mainTitle-wrap {
        h1#mainTitle {
          font-size: 70px;
        }
      }
      div#box-line {
        width: 225px;
      }
      div#subTitle-wrap {
        span.subTitle {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  section.mainVisual {
    div#title-box {
      div#mainTitle-wrap {
        h1#mainTitle {
          font-size: 60px;
        }
      }
      div#box-line {
        width: 150px;
      }
      div#subTitle-wrap {
        span.subTitle {
          font-size: 0.95rem;
        }
      }
    }
    div#icon-scroll {
      left: 47%;
    }
  }
}

@media screen and (max-width: 480px) {
  section.mainVisual {
    padding: 0 0.5rem;
    div#title-box {
      div#mainTitle-wrap {
        h1#mainTitle {
          font-size: 60px;
          text-align: center;
        }
      }
      div#box-line {
        width: 150px;
        margin: 2rem auto;
      }
      div#subTitle-wrap {
        margin: 0 auto;
        span.subTitle {
          font-size: 0.9rem;
          text-align: center;
          letter-spacing: -1px;
          span {
            padding-bottom: 2.5px;
          }
        }
      }
    }
    div#icon-scroll {
      left: 47%;
    }
  }
}
