extends templates/layout

block content
    include screens/mainVisual
    include screens/mainContents

block scripts
    script(src="js/main.js") 
    script(src="js/header.js") 
    script(src="js/about.js") 
    script(src="js/works.js") 
    script(src="js/scrollAnimation.js")