section.mainContents
    div.contents_wrap#about
        div#info
            div.info_content#info_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
                h1#info_main_title
                    span 안녕하세요.
                    br
                    span.infoTitle
                        |새로운 도전에 두려워하지 않는 용기와,
                        span.point_bg.point_bg_one
                    br
                    span.infoTitle
                        |주어진 업무에 강한 책임감과 열정을 느끼며,
                        span.point_bg.point_bg_two
                    br
                    span.infoTitle
                        |매 순간 최선을 다하는 신입 웹 프론트엔드 개발자 정국호입니다.
                        span.point_bg.point_bg_three
                h1#info_sub_title
                    span 
                        |제가 배운 것들을 기반으로
                        br
                        |무언가를 만들어 가는 과정 그 자체가 너무 즐겁습니다.
                        br
                        |이 즐거움의 과정을 조금 더 전문적이고 심도있게 파고 들기 위해
                        br
                        |겸손의 자세로 배움을 게을리 하지 않고,
                        br
                        |꾸준히 노력하며 성장하는 개발자가 되겠습니다.
            div.garbage_box_hL
            div.info_content#photo_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
                div#introduce_box
                    h1#introduce.font_stroke_opacityN
                        |Hello!
                        br
                        |It's Me
                    span#introduce_viewBtn.bottom_bar See More
                div#profile_box
                    div.profile_content#profile
                        h3.profile_title Profile
                        span 이름 : 정국호
                        span 나이 : 26세 (1997.10.14)
                        span 주소 : 인천 부평구 장제로 101번길 2
                        span 학력 : 한국 폴리텍 대학 청주 캠퍼스 졸업
                        span 병역 : 대한민국 공군 773기 병장 만기전역
                    div.profile_content#history
                        h3.profile_title History
                        span 2020.10 ~ 2022.04 : (주)그리드원 솔루션개발 본부 솔루션 QA 및 기술지원
                        span 2019.11 ~ 2020.10 : (주)그리드원 기술지원 본부 RPA 스크립트 개발
                        span 2016.03 ~ 2020.03 : 한국 폴리텍 대학 청주 캠퍼스 정보통신시스템 전공
                    div.profile_content#license
                        h3.profile_title Licence
                        span 전자기기 기능사
                        span 웹디자인 기능사
                        span 유비쿼터스 기술 관리사
            div.garbage_box_hL
    div.contents_wrap#mySkills
        div.between_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
            h1.between_title
                span 지금의 제가
                    span.point_bg.point_bg_one
                br
                span 다룰 수 있는 것들.
                    span.point_bg.point_bg_two
        div#skills
            div.skills_wrap#basicSkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN BASIC
                div.between_line
                div.skills_box
                    div.skills_icon#html
                    div.skills_info
                        span.skills_sub_title HTML
                            span Main
                        span.percent 80%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 80%")                                             
                div.skills_box
                    div.skills_icon#css
                    div.skills_info
                        span.skills_sub_title CSS          
                            span Main
                        span.percent 80%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 80%")                                                                        
                div.skills_box
                    div.skills_icon#js
                    div.skills_info
                        span.skills_sub_title JavaScript       
                            span Main       
                        span.percent 65%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 65%")                        
            div.garbage_box_hM                                 
            div.skills_wrap#basic_subSkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")            
                h1.skills_title.font_stroke_opacityN BASIC-SUB
                div.between_line
                div.skills_box
                    div.skills_icon#pug   
                    div.skills_info
                        span.skills_sub_title PUG    
                            span Sub
                        span.percent 60%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 60%")         
                div.skills_box                
                    div.skills_icon#sass
                    div.skills_info
                        span.skills_sub_title SASS        
                            span Sub
                        span.percent 70%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 70%")     
                div.skills_box                     
                    div.skills_icon#es6
                    div.skills_info
                        span.skills_sub_title ES6       
                            span Sub
                        span.percent 50%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 50%")              
                div.skills_box                     
                    div.skills_icon#jquery
                    div.skills_info
                        span.skills_sub_title jQuery
                            span Sub
                        span.percent 40%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 40%")                                          
            div.garbage_box_hM                                       
            div.skills_wrap#frontSkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN FRONT-END
                div.between_line
                div.skills_box
                    div.skills_icon#gulp
                    div.skills_info
                        span.skills_sub_title Gulp.js
                        span.percent 60%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 60%")        
                div.skills_box
                    div.skills_icon#webpack
                    div.skills_info
                        span.skills_sub_title Webpack.js
                        span.percent 40%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 40%")        
                div.skills_box
                    div.skills_icon#react
                    div.skills_info
                        span.skills_sub_title React.js
                        span.percent 70%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 70%")      
            div.garbage_box_hM     
            div.skills_wrap#backSkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN BACK-END
                div.between_line
                div.skills_box
                    div.skills_icon#nodejs
                    div.skills_info
                        span.skills_sub_title Node.js
                        span.percent 60%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 60%")        
                div.skills_box
                    div.skills_icon#mongo
                    div.skills_info
                        span.skills_sub_title Mongo     
                        span.percent 50%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 50%")        
            div.garbage_box_hM   
            div.skills_wrap#deploySkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN DEPLOYMENT
                div.between_line
                div.skills_box
                    div.skills_icon#heroku
                    div.skills_info
                        span.skills_sub_title Heroku                
                        span.percent 40%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 40%")        
    div.contents_wrap#myWorks
        div.between_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
            h1.between_title
                span 지금의 제가
                    span.point_bg.point_bg_one
                br
                span 경험 해본 것들.
                    span.point_bg.point_bg_two
        div#works(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="500")
            button.slide_btn#prevBtn
                i.bi-caret-left-fill
            div.works_slide_box
                input#works1(type="radio", name="inputRadio" checked)
                input#works2(type="radio", name="inputRadio")
                input#works3(type="radio", name="inputRadio")
                input#works4(type="radio", name="inputRadio")
                input#works5(type="radio", name="inputRadio")
                input#works6(type="radio", name="inputRadio")
                input#works7(type="radio", name="inputRadio")
                label.works_card#works1_card(for="works1") 
                    div.card_flip#portfolioCard
                        div.card_item#cardFront
                            div.front_content.card_active
                                div.card_title
                                    h1 PORTFOLIO
                                div.card_btn
                                    i.card_view_btn.frontBtn   
                        div.card_item#cardBack 
                            div.back_content
                                div.project_info
                                    dl 
                                        dt # 개인 포트폴리오
                                        dd 프론트엔드 개발자 포트폴리오 웹 사이트입니다.
                                    dl 
                                        dt # 주요 기능
                                        dd 
                                            ul
                                                li - 미디어 쿼리를 이용한 반응형 레이아웃
                                                li - node.js + babel.js + gulp.js 활용하여 프론트 개발 환경 구성
                                    dl 
                                        dt # 기술 스택
                                        dd 
                                            ul
                                                li - node.js
                                                li - babel.js
                                                li - gulp.js
                                                li - javascript(es6)
                                                li - pug
                                                li - sass
                                    dl 
                                        dt # 개발 참여도
                                        dd 1인 개발(디자인, 퍼블리싱, 프론트)
                                div.card_btn
                                    a(target="_blank" href="https://github.com/wjdrnrgh/wjdrnrgh.github.io") 
                                        i.bi-github
                                    a(target="_blank" href="https://wjdrnrgh.github.io") 
                                        i.bi-house
                                    div.garbage_box_wS
                                    i.card_view_btn.backBtn   
                label.works_card#works2_card(for="works2") 
                    div.card_flip#wetubeCard
                        div.card_item#cardFront    
                            div.front_content
                                div.card_title
                                    h1 WETUBE
                                div.card_btn
                                    i.card_view_btn.frontBtn                           
                        div.card_item#cardBack                 
                            div.back_content
                                div.project_info
                                    dl 
                                        dt # Youtube 클론
                                        dd "Youtube"의 주요 기능들을 클론 한 웹 서비스 페이지입니다.
                                    dl 
                                        dt # 주요 기능
                                        dd 
                                            ul
                                                li - 미디어 쿼리를 이용한 반응형 레이아웃
                                                li - mongoDB 및 mongoose 를 이용해 CRUD 기능 구현
                                                li - 사용자 관련 : 계정 생성 및 인증, 소셜 및 일반 로그인, 프로필 편집
                                                li - 동영상 관련 : 업로드, 녹화, 검색, 조회수, 시청, 댓글 작성
                                    dl 
                                        dt # 기술 스택
                                        dd 
                                            ul
                                                li - node.js
                                                li - express.js
                                                li - webpack.js
                                                li - javascript(es6)
                                                li - pug
                                                li - sass
                                                li - mongo
                                                li - heroku
                                    dl 
                                        dt # 개발 참여도
                                        dd 1인 개발(디자인, 퍼블리싱, 풀스택, 배포)
                                div.card_btn
                                    a(target="_blank" href="https://github.com/wjdrnrgh/wetube-clone") 
                                        i.bi-github
                                    a(target="_blank" href="https://wetube-jgh.herokuapp.com/") 
                                        i.bi-house
                                    div.garbage_box_wS
                                    i.card_view_btn.backBtn                                      
                label.works_card#works3_card(for="works3") 
                    div.card_flip#paintJsCard
                        div.card_item#cardFront           
                            div.front_content
                                div.card_title
                                    h1 PaintJS
                                div.card_btn
                                    i.card_view_btn.frontBtn                                            
                        div.card_item#cardBack                         
                            div.back_content
                                div.project_info
                                    dl 
                                        dt # 그림판 어플리케이션
                                        dd 캔버스 프로퍼티 및 마우스 이벤트를 활용하여 구현한 그림판 웹 사이트입니다.
                                    dl 
                                        dt # 주요 기능
                                        dd 
                                            ul
                                                li - 브러쉬 크기 조절
                                                li - 선 그리기 및 바탕 채우기 모드
                                                li - 캔버스 초기화
                                                li - 결과물 저장
                                    dl 
                                        dt # 기술 스택
                                        dd 
                                            ul
                                                li - html
                                                li - css
                                                li - javascript(vanilla)
                                    dl 
                                        dt # 개발 참여도
                                        dd 1인 개발(디자인, 퍼블리싱, 프론트)
                                div.card_btn
                                    a(target="_blank" href="https://github.com/wjdrnrgh/PaintJS") 
                                        i.bi-github
                                    a(target="_blank" href="https://wjdrnrgh.github.io/PaintJS/") 
                                        i.bi-house
                                    div.garbage_box_wS
                                    i.card_view_btn.backBtn                                    
                label.works_card#works4_card(for="works4") 
                    div.card_flip#momentumCard
                        div.card_item#cardFront
                            div.front_content
                                div.card_title
                                    h1 MOMENTUM
                                div.card_btn
                                    i.card_view_btn.frontBtn                              
                        div.card_item#cardBack                          
                            div.back_content
                                div.project_info
                                    dl 
                                        dt # Momentum 클론
                                        dd Chrome App "Momentum"의 주요 기능들을 클론 한 웹 서비스 페이지입니다.
                                    dl 
                                        dt # 주요 기능
                                        dd 
                                            ul
                                                li - open API(openweathermap) 를 통해 응답받은 데이터를 기반으로 날씨 정보 표시
                                                li - 투두 리스트
                                                li - 시계
                                                li - 사용자 정보 및 일정 저장(local storage)
                                    dl 
                                        dt # 기술 스택
                                        dd 
                                            ul
                                                li - html
                                                li - css
                                                li - javascript(vanilla)
                                    dl 
                                        dt # 개발 참여도
                                        dd 1인 개발(디자인, 퍼블리싱, 프론트)
                                div.card_btn
                                    a(target="_blank" href="https://github.com/wjdrnrgh/momentum-clone") 
                                        i.bi-github
                                    a(target="_blank" href="https://wjdrnrgh.github.io/momentum-clone/") 
                                        i.bi-house
                                    div.garbage_box_wS
                                    i.card_view_btn.backBtn                           
                label.works_card#works5_card(for="works5") 
                    div.card_flip#movieWebCard
                        div.card_item#cardFront
                            div.front_content
                                div.card_title
                                    h1 MOVIEWEB
                                div.card_btn
                                    i.card_view_btn.frontBtn                            
                        div.card_item#cardBack                          
                            div.back_content
                                div.project_info
                                    dl 
                                        dt # 영화 웹 서비스
                                        dd open API(YTS) 를 통해 응답받은 데이터를 기반으로 사용자에게 다양한 영화의 정보를 제공하는 영화 웹 서비스 페이지입니다.
                                    dl 
                                        dt # 주요 기능
                                        dd 
                                            ul
                                                li - 미디어 쿼리를 이용한 반응형 레이아웃
                                                li - 영화 상세정보(제목, 평점, 다운로드 횟수 등)
                                                li - 영화 다운로드(720p, 1080p)
                                    dl 
                                        dt # 기술 스택
                                        dd 
                                            ul
                                                li - node.js
                                                li - react.js
                                                li - recoil.js
                                                li - html
                                                li - css
                                    dl 
                                        dt # 개발 참여도
                                        dd 1인 개발(디자인, 퍼블리싱, 프론트)
                                div.card_btn
                                    a(target="_blank" href="https://github.com/wjdrnrgh/NewMovieWeb") 
                                        i.bi-github
                                    a(target="_blank" href="https://wjdrnrgh.github.io/NewMovieWeb/") 
                                        i.bi-house
                                    div.garbage_box_wS
                                    i.card_view_btn.backBtn                           
                label.works_card#works6_card(for="works6") 
                    div.card_flip#reactDiaryCard
                        div.card_item#cardFront
                            div.front_content
                                div.card_title
                                    h1 ReactDiary
                                div.card_btn
                                    i.card_view_btn.frontBtn                            
                        div.card_item#cardBack                          
                            div.back_content
                                div.project_info
                                    dl 
                                        dt # 리액트 다이어리
                                        dd React.js 를 이용하여 간단히 작업한 사용자가 입력한 정보를 기록하는 일기장 웹 서비스 페이지입니다.
                                    dl 
                                        dt # 주요 기능
                                        dd 
                                            ul
                                                li - 게시글 작성 기능
                                                li - 게시글 삭제 기능
                                                li - 게시글 정렬 기능
                                                li - 작성 된 게시글을 로컬 스토리지에 저장하여 사용자의 게시글을 유지                                                
                                    dl 
                                        dt # 기술 스택
                                        dd 
                                            ul
                                                li - node.js
                                                li - react.js
                                                li - html
                                                li - css
                                    dl 
                                        dt # 개발 참여도
                                        dd 1인 개발(디자인, 퍼블리싱, 프론트)
                                div.card_btn
                                    a(target="_blank" href="https://github.com/wjdrnrgh/ReactDiary") 
                                        i.bi-github
                                    a(target="_blank" href="https://wjdrnrgh.github.io/ReactDiary/") 
                                        i.bi-house                                        
                                    div.garbage_box_wS
                                    i.card_view_btn.backBtn                           
                label.works_card#works7_card(for="works7") 
                    div.card_flip#reactShopCard
                        div.card_item#cardFront
                            div.front_content
                                div.card_title
                                    h1 ReactShop
                                div.card_btn
                                    i.card_view_btn.frontBtn                            
                        div.card_item#cardBack                          
                            div.back_content
                                div.project_info
                                    dl 
                                        dt # 신발 쇼핑몰
                                        dd 임의의 상품 정보 데이터를 기반으로 React.js를 이용하여 작업한 쇼핑몰 웹 서비스 페이지입니다.
                                    dl 
                                        dt # 주요 기능
                                        dd 
                                            ul
                                                li - 최근 본 상품 표시
                                                li - 상품 찜하기 기능
                                                li - 상품 장바구니 담기 기능
                                                li - 사용자가 찜 및 장바구니에 담은 상품을 로컬 스토리지에 저장하여 사용자 정보 유지    
                                    dl 
                                        dt # 기술 스택
                                        dd 
                                            ul
                                                li - node.js
                                                li - react.js
                                                li - redux.js
                                                li - swiper.js
                                                li - html
                                                li - css
                                    dl 
                                        dt # 개발 참여도
                                        dd 1인 개발(디자인, 퍼블리싱, 프론트)
                                div.card_btn
                                    a(target="_blank" href="https://github.com/wjdrnrgh/ReactShop") 
                                        i.bi-github
                                    a(target="_blank" href="https://wjdrnrgh.github.io/ReactShop/") 
                                        i.bi-house                                                          
                                    div.garbage_box_wS
                                    i.card_view_btn.backBtn                                                               
            button.slide_btn#nextBtn
                i.bi-caret-right-fill
    div.garbage_box_hL
    div.contents_wrap#contact
        div.between_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
            h1.between_title
                span 포트폴리오를 마치며.
                    span.point_bg.point_bg_one
        div#contactMe
            div.contact_content(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="0")
                h1.contact_title
                    span
                        |우선 저의 포트폴리오를
                        br
                        |끝까지 봐주셔서 감사하다는 말씀을 드립니다.
                        br
                        |제가 지금까지 진행한 작업들이 마음에 드셨다면,
                        br
                        |편하게 연락 주시길 부탁드립니다.
                div.between_line
                div.contact_list
                    dl(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="500")
                        dt Email
                        dd : wjdrnrgh1014@gmail.com
                    dl(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="800")
                        dt Github
                        dd 
                            a(target="_blank" href="https://github.com/wjdrnrgh") : https://github.com/wjdrnrgh
                    dl(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="1100")
                        dt Instagram 
                        dd 
                            a(target="_blank" href="https://www.instagram.com/jeong_guk_ho") : https://www.instagram.com/jeong_guk_ho
                    dl(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="1400")
                        dt KakaoTalk ID
                        dd : jgh1014
    div#contentTitle_box
        span#contentTitle.font_stroke_opacity