section.main-sec.mainVisual
    div#title-box
        div#mainTitle-wrap
            h1#mainTitle.font_stroke_opacityN
                span.text_point FRONT 
                |END
                br
                |GUKHO 
                span.text_point PORTFOLIO
        div#box-line
        div#subTitle-wrap
            span.subTitle(data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="500")
                |빠르게 변화하는 
                span 트렌드
                |에 뒤쳐지지 않는 것,
            span.subTitle(data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="1500")
                |최신 기술을 배우는 것에 두려워 하기보다 
                span 반갑게
                |  맞이할 수 있는 것, 
            span.subTitle(data-aos="fade-right" data-aos-easing="ease-in-sine" data-aos-duration="750" data-aos-delay="2500")
                |좋은 개발자가 되기 위해 갖추어야 할 
                span 자세
                |라고 생각합니다.
    div#icon-scroll
    video(src="img/background_bg.mp4" muted="muted" autoplay loop)#bgVideo