section.mainContents
    div.contents_wrap#about
        div#info
            div.info_content#info_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
                h1#info_main_title
                    span 안녕하세요.
                    br
                    span.infoTitle
                        |새로운 도전에 두려워하지 않는 용기와,
                        span.point_bg.point_bg_one
                    br
                    span.infoTitle
                        |주어진 업무에 강한 책임감과 열정을 느끼며,
                        span.point_bg.point_bg_two
                    br
                    span.infoTitle
                        |매 순간 최선을 다할 줄 아는 신입 웹 프론트엔드 개발자 정국호입니다.
                        span.point_bg.point_bg_three
                h1#info_sub_title
                    span 
                        |제가 배운 것들을 기반으로
                        br
                        |무언가를 만들어 가는 과정 그 자체가 너무 즐겁습니다.
                        br
                        |이 즐거움의 과정을 조금 더 전문적이고 심도있게 파고 들기 위해
                        br
                        |겸손의 자세로 배움을 게을리 하지 않고,
                        br
                        |꾸준히 노력하며 성장하는 개발자가 되겠습니다.
            div.garbage_box_hL
            div.info_content#photo_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
                div#introduce_box
                    h1#introduce.font_stroke_opacityN
                        |Hello!
                        br
                        |It's Me
                    span#introduce_viewBtn.bottom_bar See More
                div#profile_box
                    //div#profile_close_btn
                        icon.bi-x-circle-fill
                    div.profile_content#profile
                        h3.profile_title Profile
                        span 이름 : 정국호
                        span 나이 : 26세 (1997.10.14)
                        span 주소 : 인천 부평구 장제로 101번길 2
                        span 학력 : 한국 폴리텍 대학 청주 캠퍼스 졸업
                        span 병역 : 대한민국 공군 773기 병장 만기전역
                    div.profile_content#history
                        h3.profile_title History
                        span 2020.10 ~ 2022.04 : (주)그리드원 솔루션개발 본부 솔루션 QA 및 기술지원
                        span 2019.11 ~ 2020.10 : (주)그리드원 기술지원 본부 RPA 스크립트 개발
                        span 2016.03 ~ 2020.03 : 한국 폴리텍 대학 청주 캠퍼스 정보통신시스템 전공
                    div.profile_content#license
                        h3.profile_title Licence
                        span 전자기기 기능사
                        span 웹디자인 기능사
                        span 정보처리 기능사(필기)
                        span 유비쿼터스 기술 관리사
            div.garbage_box_hL
    div.contents_wrap#mySkills
        div.between_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
            h1.between_title
                span 지금의 제가
                    span.point_bg.point_bg_one
                br
                span 다룰 수 있는 것들.
                    span.point_bg.point_bg_two
        div#skills
            div.skills_wrap#basicSkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN BASIC
                div.between_line
                div.skills_box
                    div.skills_icon#html
                    div.skills_info
                        span.skills_sub_title HTML
                            span Main
                        span.percent 80%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 80%")
                    div.skills_icon#pug   
                    div.skills_info
                        span.skills_sub_title PUG    
                            span Sub
                        span.percent 60%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 60%")                        
                div.skills_box
                    div.skills_icon#css
                    div.skills_info
                        span.skills_sub_title CSS          
                            span Main
                        span.percent 80%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 80%")                        
                    div.skills_icon#sass
                    div.skills_info
                        span.skills_sub_title SASS        
                            span Sub
                        span.percent 70%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 70%")                        
                div.skills_box
                    div.skills_icon#js
                    div.skills_info
                        span.skills_sub_title JavaScript       
                            span Main       
                        span.percent 65%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 65%")                         
                    div.skills_icon#es6
                    div.skills_info
                        span.skills_sub_title ES6       
                            span Sub
                        span.percent 50%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 50%") 
            div.garbage_box_hM                                       
            div.skills_wrap#frontSkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN FRONT-END
                div.between_line
                div.skills_box
                    div.skills_icon#gulp
                    div.skills_info
                        span.skills_sub_title Gulp.js
                        span.percent 60%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 60%")        
                div.skills_box
                    div.skills_icon#webpack
                    div.skills_info
                        span.skills_sub_title Webpack.js
                        span.percent 40%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 40%")        
                div.skills_box
                    div.skills_icon#react
                    div.skills_info
                        span.skills_sub_title React.js
                        span.percent 40%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 40%")      
            div.garbage_box_hM     
            div.skills_wrap#backSkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN BACK-END
                div.between_line
                div.skills_box
                    div.skills_icon#nodejs
                    div.skills_info
                        span.skills_sub_title Node.js
                        span.percent 60%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 60%")        
                div.skills_box
                    div.skills_icon#mongodb
                    div.skills_info
                        span.skills_sub_title MongoDB       
                        span.percent 50%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 50%")        
            div.garbage_box_hM   
            div.skills_wrap#deploySkills(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
                h1.skills_title.font_stroke_opacityN DEPLOYMENT
                div.between_line
                div.skills_box
                    div.skills_icon#heroku
                    div.skills_info
                        span.skills_sub_title Heroku                
                        span.percent 40%
                        div.progress_bar
                            div.progress_bar_sub(style="width: 40%")        
    div.contents_wrap#myWorks
        div.between_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="0")
            h1.between_title
                span 지금의 제가
                    span.point_bg.point_bg_one
                br
                span 경험 해본 것들.
                    span.point_bg.point_bg_two
        div#works
            button.slide_btn#prevBtn
                i.bi-caret-left-fill
            div.works_slide_box(data-aos="fade-up" data-aos-easing="ease-in-sine" data-aos-duration="1000" data-aos-delay="500")
                input#works1(type="radio", name="inputRadio" checked)
                input#works2(type="radio", name="inputRadio")
                input#works3(type="radio", name="inputRadio")
                input#works4(type="radio", name="inputRadio")
                input#works5(type="radio", name="inputRadio")
                label.works_card#works1_card(for="works1") 
                    h1 CARD1
                label.works_card#works2_card(for="works2") 
                    h1 CARD2
                label.works_card#works3_card(for="works3") 
                    h1 CARD3
                label.works_card#works4_card(for="works4") 
                    h1 CARD4
                label.works_card#works5_card(for="works5") 
                    h1 CARD5                                        
            button.slide_btn#nextBtn
                i.bi-caret-right-fill
    div.contents_wrap
    div#contentTitle_box
        span#contentTitle.font_stroke_opacity