header 
    nav
        button.header_btn
            span.header_btn_txt MENU
            span.header_btn_icon
                span.icon_line#line_first
                span.icon_line#line_second
        div.header_menu_view
            div.header_menu_inner
                ul.menu_list
                    li
                        a.menu_item.font_stroke_opacityN.bottom_bar(href="#about") About
                    li 
                        a.menu_item.font_stroke_opacityN.bottom_bar(href="#mySkills") Skills
                    li 
                        a.menu_item.font_stroke_opacityN.bottom_bar(href="#myWorks") Works
                    li 
                        a.menu_item.font_stroke_opacityN.bottom_bar(href="#") Contact                  
                div.contact
                    div.contact_item
                        h3.contact_title LINK
                        ul.item_list
                            li
                                a(href="https://www.instagram.com/jeong_guk_ho/") 
                                    i.bi-github
                                    br
                                    |github.com/wjdrnrgh
                            li
                                a(href="https://github.com/wjdrnrgh") 
                                    i.bi-instagram 
                                    br
                                    |instagram.com/jeong_guk_ho
                //
                    div.contact_item
                        h3.contact_title CONTACT
                        ul.item_list
                            li
                                a(href="#") 
                                    i.bi-envelope
                                    br
                                    |wjdrnrgh1014@gmail.com