$pf-main-color: #0f0f10;
$pf-point-color: #005ba7;
$pf-sub-color: #7e7e87;
$pf-point-gradient: linear-gradient(135deg, #d648fd 0%, #992dfa 100%);
$pf-font-size-XXL: 100px;
$pf-font-size-XL: 5rem;
$pf-font-size-L: 3rem;
$pf-font-size-M: 2rem;
$pf-font-size-S: 1rem;
$pf-font-size-defaults: 1.5rem;
